@media (min-width: 800px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    margin: 60px;
  }
  .grid_1-1 {
    padding-top: 150px;
  }
}
@media (max-width: 800px) {
  .maps_img {
    padding: 60px;
  }
}

.grid_1-1 {
  text-align: center;
  line-height: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
p a:link,
p a:visited {
  color: #808bb7;
  font-family: "Assistant", sans-serif;
}
h1 {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #2a2f64;
}

.info,
.some,
.adresse,
.smiley {
  padding-bottom: 30px;
}
