.forside_tekst {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 60px;
  margin-bottom: 100px;
}

.container {
  position: relative;
}

.overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 100px;
  color: #fdfdfd;
  text-align: center;
}

.forside_billede {
  width: 100%;
  height: auto;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media screen and (max-width: 1300px) {
  .overlay_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
    z-index: 1;
    font-size: 78px;
    color: #fdfdfd;
  }
}

@media screen and (max-width: 1000px) {
  .overlay_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
    z-index: 1;
    font-size: 50px;
    color: #fdfdfd;
  }
}

@media screen and (max-width: 800px) {
  .overlay_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
    z-index: 1;
    font-size: 35px;
    color: #fdfdfd;
  }
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 100px;
  margin: 60px;
  gap: 50px;
  place-items: center;
}

.square-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .img_1:hover,
  .img_2:hover,
  .img_3:hover {
    opacity: 0.5;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.modal-content {
  margin: auto;
  display: block;
  width: 50%;
}
.close {
  color: #000000;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.instagram_link a {
  font-family: "Assistant", sans-serif;
  color: #808bb7;
  font-size: 20px;
  text-decoration: underline;
}

p {
  padding-left: 76px;
  font-size: 20px;
}

@media (min-width: 800px) {
  .video {
    padding-top: 40px;
    margin-top: 60px;
    padding-left: 5%;
    padding-bottom: 10%;
  }
}

video {
  width: 100%;
  height: auto;
  display: block;
  padding-left: 5%;
  padding-right: 10%;
}
