.forside_billede {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.forside_tekst {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 100px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  margin: 60px;
  place-items: center;
}

.square-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
