h1 {
  text-align: center;
  padding-top: 100px;
  color: #2a2f64;
  font-weight: bolder;
}
@media screen and (min-width: 800px) {
  img {
    width: 60%;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
