h1 {
  text-align: center;
  padding-top: 100px;
  color: #2a2f64;
  font-weight: bolder;
}
@media (min-width: 800px) {
  table {
    padding-left: 270px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 25px;
  }
  .item {
    padding-right: 500px;
  }
}
@media (max-width: 800px) {
  table {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 25px;
  }
}

table td {
  font-family: "Assistant", sans-serif;
}
table th {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  text-align: left;
}
.drinks,
.coffee,
.tea {
  padding-top: 30px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.food {
  padding-bottom: 10px;
  text-decoration: underline;
}
