* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fdfdfd;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

nav li {
  color: #2a2f64;
  font-family: "Mulish", sans-serif;
}

nav a {
  text-decoration: none;
  color: #2a2f64;
  font-size: 20px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

nav a:active,
nav a:hover,
nav a:visited:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 800px) {
  footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.adresse {
  padding-bottom: 20px;
  padding-top: 30px;
}
.adresse,
.tid {
  line-height: 25px;
}

h1 {
  font-family: "Mulish", sans-serif;
}
p {
  font-family: "Assistant", sans-serif;
  color: #808bb7;
}

.logo_img {
  margin: auto;
  width: 110%;
  height: auto;
  padding-left: 45%;
  padding-right: 45%;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 700px) {
  .logo_img {
    margin: auto;
    width: 100%;
    height: auto;
    padding-left: 45%;
    padding-right: 45%;
  }
}
