* {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
nav li {
  color: #2a2f64;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}
nav a:link {
  text-decoration: none;
  color: #2a2f64;
  font-size: 20px;
}
nav a:visited {
  color: #2a2f64;
  text-decoration: none;
}
nav a:active {
  text-decoration: none;
  color: #2a2f64;
}
nav a:hover {
  text-decoration: underline;
}

.logo_img {
  padding-left: 600px;
  padding-right: 600px;
}

h1 {
  font-family: "Mulish", sans-serif;
}
p {
  font-family: "Assistant", sans-serif;
}
