* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fdfdfd;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
nav li {
  color: #2a2f64;
  font-family: "Mulish", sans-serif;
}

nav a {
  text-decoration: none;
  color: #2a2f64;
  font-size: 20px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

nav a:active,
nav a:hover,
nav a:visited:hover {
  text-decoration: underline;
}

.adresse {
  padding-bottom: 20px;
  padding-top: 30px;
}
.adresse,
.tid {
  line-height: 25px;
}
h1 {
  font-family: "Mulish", sans-serif;
}
p {
  font-family: "Assistant", sans-serif;
  color: #808bb7;
}
.logo_img {
  margin: auto;
  height: auto;
  padding-left: 40%;
  padding-right: 40%;
  padding-bottom: 30px;
  padding-top: 50px;
}

@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .logo_img {
    margin: auto;
    width: 100%;
    height: auto;
    padding-left: 45%;
    padding-right: 45%;
  }
}

/*BURGER-MENU*/
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-left: 30px;
}
.bar {
  background-color: #2a2f64;
  margin: 3px 0;
  transition: 0.4s;
  width: 30px;
  height: 2px;
}
.close-icon {
  display: none;
  cursor: pointer;
}
.close-icon .bar {
  width: 35px;
  height: 3px;
  background-color: #2a2f64;
  margin: 2px 0;
  transition: 0.4s;
}
.burger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, -2px);
}
.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-14px, -7px);
}

/*BURGER-MENU*/

@media (max-width: 800px) {
  footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .burger-menu {
    display: flex;
  }
  .nav ul {
    display: none;
  }
  .nav.active ul {
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 0;
    background-color: #f8f8f8;
    list-style: none;
    border-radius: 10px;
  }
  .nav.active ul li {
    padding: 10px;
  }
}

.content {
  /* Stil for indholdet af din side */
  padding: 20px;
}

.divider {
  border: 0.5px solid #808bb7; /* Ændre farven efter behov */
  margin: 0; /* Fjerner standard margin for <hr> */
}

footer {
  background-color: #fdfdfd;
  padding: 10px;
  text-align: center;
}
